$icon-size:55px;

/*----------- Styling the navbar --------*/
nav{
    .nav-link{
        font-size:14px;
        text-transform:uppercase;
        padding-left:1em !important;;
        padding-right:1em !important;
    }

    .nav-link.active{
        border-left:3px solid #444;
    }
}
/*----------- Styling the carousel showcase ------------*/
.carousel-item{
    height:450px;
}
.carousel-image-1{
    background: url('../img/image1.jpg');
    background-size:cover;
    background-position: top left;

}

.carousel-image-2{
    background-image: url('../img/image2.jpg');
    background-size:cover;
    background-position: top left;
}

.carousel-image-3{
    background: url('../img/image3.jpg');
    background-size:cover;
    background-position: top left;
}

/*-------- Styling the home section icons -----------*/
#homeicons{
    .fa{
        font-size: $icon-size;
    }
}

/*-------------- Styling the home heading section -----------*/
#homeheading{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/lights.jpg');
    background-size:cover;
    background-position: top left;
    background-attachment: fixed;
}

/*----------- Work Section ----------*/
#work{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/media.jpg');
    background-attachment: fixed;
    background-position: top left;
    background-size:cover;

    .fa{
        font-size:$icon-size;
    }
}
/*------------ Styling the footer ------------*/
#footer{
    background: #000;
    color:#fff;
}


/*------------------------------------------------*/
/*------ Styling the About Page ------------------*/
/*------------------------------------------------*/

/*----- About Page Header -------*/
#about-header{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/image1.jpg');
}

/*---- About image -------*/
.about-img{
    margin-top:-105px;
}

/*----------- About cards ---------*/
.fa{
    font-size: $icon-size;
}

/*------------------------------------------------*/
/*------ Styling the Services Page ------------------*/
/*------------------------------------------------*/

/*---------- Service page Header -----*/
#service-header{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/image1.jpg');
    background-size: cover;
    background-position: top left;
}

/*------ Styling the cards ----*/
#services-card{
    .fa{
        font-size: 40px;
    }
}

/*--------- Styling the FAQs Accordion ---------*/
#faq{

    .card{
        background-color:rgba(0, 0, 0, 0.301);
    }

    a{
        text-decoration: none;
        color:#fff;
    }
}